.secao {
  display: flex;
  flex-grow: column;
  padding: 6.1rem 2rem;
}

.container {
  display: flex;
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.rodape {
  padding: 4.88rem 2rem;
  &--logo {
    width: 3.7rem;
    height: 3.7rem;
  }
}

.container--rodape {
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
  & a {
    text-decoration: none;
    color: inherit;
  }
}
