.botao {
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  border: solid 2px #000;
  cursor: pointer;
  border-right-width: 4px;
  border-bottom-width: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;
  
  &:hover {
    border-width: 3px;
}

  &--amarelo {
    background-color: $cor-amarelo;
    border-color: darken($cor-amarelo, 25%);
    color: #fff;


  }
}
