/**
 * Basic typography style for copy text
 */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $cor-preta;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  @include titulos($size: 4.88rem, $weight: 500);
  & span {
    color: $cor-azul-passos;
    font-weight: 600;
  }
}


