.secao {
  &--hero {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    padding-bottom: 0;
  }

  &--disclaimer {
    padding: 3.12rem 2rem;
    background-color: #e1e1e1;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.25);
  }

  &--quem {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);

    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    padding-bottom: 0;
    padding-top: 20rem;
    background-size: cover;
    margin-top: -15%;
  }
}

.container {
  &--hero {
    position: relative;
    align-items: end;
    width: 100%;
  }

  &--passo,
  &--aprender {
    @include flex($direction: column, $gap: 6rem, $align: start);
  }

  &--quem {
    position: relative;
    padding-right: 50rem;
    & h2 {
      @include titulos($size: 3.6rem, $weight: 600, $color: #fff);

      line-height: 1.2;
      border-left: solid 4px $cor-amarelo;
      padding-left: 2.5rem;
    }
    & span {
      color: $cor-amarelo;
    }
  }
}

.grid {
  &--passo {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  &--aprender {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.div-lira {
  position: absolute;
  display: flex;
  height: 60rem;
  right: 0;
  bottom: 0;
  transform: translateX(10%);
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
}

.img-lira {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
}

.img-aprender {
  border-radius: 2rem;
  transition: transform ease 200ms;

  &:hover {
    transform: scale(1.05);
  }

  &:last-child {
    grid-row: 2;
    grid-column: 2;
  }
}

.cabecalho-titulo {
  @include flex($gap: 1.6rem, $align: center);
}

.quem {
  padding-bottom: 6.1rem;
  color: #fff;
  max-width: 50rem;
  width: 100%;
  @include flex($direction: column, $gap: 3.12rem);
  &__textos {
    @include flex($direction: column, $gap: 2.5rem);
    font-size: 2rem;
  }
}

.img-lira-quem {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  width: 45%;
}
