.secao {
  &--hero {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    padding-bottom: 0;
  }

  &--disclaimer {
    padding: 3.12rem 2rem;
    background-color: #e1e1e1;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.25);
  }
}

.container {
  &--hero {
    position: relative;
    align-items: end;
    width: 100%;
  }

  &--passo,
  &--aprender {
    @include flex($direction: column, $gap: 6rem, $align: start);
  }
}

.grid {
  &--passo {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  &--aprender {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.div-lira {
  position: absolute;
  display: flex;
  height: 60rem;
  right: 0;
  bottom: 0;
  transform: translateX(10%);
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
}

.img-lira {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
}

.img-aprender {
  border-radius: 2rem;
  transition: transform ease 200ms;

  &:hover {
    transform: scale(1.05);
  }

  &:last-child {
    grid-row: 2;
    grid-column: 2;
  }
}

.cabecalho-titulo {
  @include flex($gap: 1.6rem, $align: center);
}
